*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

header, footer, section {
  display: block;
}

body{
	/* Setting the default text color, size, page background and a font stack: */
	font-size:0.825em;
	font-family:Arial, Helvetica, sans-serif;
  padding: 1% 5%;
}

h1,h2,h3{
	font-family:"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
}

#circles {
  width: 300px;
  height: 300px;
  padding: 10px;
}
